* {
  margin: 0;
  padding: 0;
}
.card {
  /* border: 2px solid red; */
  width: 25%;
  margin: auto;
  height: 30rem;
  text-align: center;
  position: relative;
  margin-top: 6rem;
  background-color: white;
  border-radius: 15px;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
}
.heading {
  /* border: 2px solid black; */
  margin: 1rem 0rem;
  padding: 0.5rem;
  font-size: medium;
  font-weight: 500;
}
.ele1 {
  font-size: small;
  /* border: 2px solid blue; */
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  text-align: left;
}
.ele1 input {
  width: 100%;
  border: 1px solid grey;
  margin-top: 0.4rem;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 5px;
}
.ele2 {
  font-size: small;
  /* border: 2px solid blue; */
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  text-align: left;
}
.ele2 input {
  width: 100%;
  border: 1px solid grey;
  margin-top: 0.4rem;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 5px;
}
.ele3 {
  font-size: small;
  /* border: 2px solid blue; */
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  text-align: left;
}
.ele3 input {
  width: 100%;
  border: 1px solid grey;
  margin-top: 0.4rem;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 5px;
}
.ele4 {
  /* border: 2px solid pink; */
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  text-align: left;
}
.ele4 form {
  display: flex;
  align-items: center;
}
.ele4 form label {
  margin-left: 0.3rem;
  font-size: small;
}
.btn button {
  width: 100%;
  padding: 0.7rem 0;
  background-color: rgb(0, 0, 160);
  border-radius: 5px;
  color: white;
  border: none;
}
.btn button:hover {
  width: 100%;
  padding: 0.7rem 0;
  background-color: rgb(2, 2, 133);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  transition: ease-in;
  transition-duration: 200ms;
}

.written {
  /* border: 2px solid rgb(5, 3, 102); */
  margin: 1rem 0rem;
  font-size: smaller;
}
.written span {
  color: rgb(0, 0, 141);
}
.written span:hover {
  color: rgb(0, 0, 141);
  cursor: pointer;
}
